@media only screen and (min-width: 1000px) {
  .stream {
    display: flex;
    flex-direction: row;
    justify-content:stretch;
    align-items: center;
    height: 56.25vw;
    max-height: 80vh;
  }

  .stream_video {
    width: 80vw;
    height: 100%;
  }

  .stream_chat {
    width: 20vw;
    height: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  .stream {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .stream_video {
    height: 56.25vw;
  }

  .stream_chat {
    height: 56.25vw;
  }
}