body {
  background-color: black;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}



@media only screen and (min-width: 1000px) {
  .stream {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 56.25vw;
    max-height: 80vh;
    margin: 0;
    justify-content: top;
    align-items: top;
    flex-direction: row;
  }

  .stream_video {
    width: 80%;
    height: 100%;
  }

  .stream_chat {
    width: 20%;
    height: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  .stream {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .stream_video {
    height: 56.25vw;
  }

  .stream_chat {
    height: 56.25vw;
  }
}