body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  margin-right: 20px;
}

header {
  background-color: #2196F3 ;
  padding: 1rem;
}

nav {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav li {
  display: inline;
}

header nav li a {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

nav li a:hover {
  background-color: #fff;
  color: #2196F3 ;
}


#profile {
  margin-left: 30px;
  cursor: pointer;
  user-select: none;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#profile svg {
  top: calc(50% - 32px / 2);
  right: 2px;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#profile.active svg {
  transform: rotate(-180deg);
}

#dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 8px;
  border-radius: 3px;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  top: 65px;
  right: 1%;
}

#dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#dropdown-menu a:hover {
  background-color: #f1f1f1;
}

#profile.active #dropdown-menu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}