.title {
    font-size: 24px;
    margin-top: 40px;
}

.description {
    font-size: 18px;
    margin-bottom: 40px;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: #332;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    
}

header nav ul{
    display: flex;
    justify-content: space-between;
}

header li {
    margin: 0 10px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    height: 4vh;
}

header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    width: auto;
    height: 10vh;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: left;
    padding-left: 100px;

}

footer nav ul {
    display: flex;
    flex-direction: column;
}

footer nav li {
    margin: 0 10px;
}

footer nav a {
    color: #fff;
    text-decoration: none;
    list-style-image: url("/share.svg");
}

#twitch-embed {
    width: 100vw;
    height: 100vh;

}

.stream {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}