footer {
  background-color: #2196F3 ;
  color: #fff;
  text-align: left;
  padding: 10px 100px;
}
footer nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10px;
  align-items: center;

}

footer nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

footer nav li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 10px;
  align-items: center;

}

footer nav a {
  color: #fff;
  text-decoration: none;
}

footer svg{
  margin-right: 10px;
  width: 20px;
  height: 20px;
  color: #fff;
  margin-bottom: 5px;
}

