body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    padding: 20px 0;
}

p {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    word-wrap: break-word;
}

form {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}

textarea {
    width: 100%;
    margin-bottom: 20px;
}

input[type="submit"] {
    display: block;
    width: auto;
    margin: 0 auto;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
