footer {
  background-color: #2B2D42 ;
  color: #fff;
  text-align: left;
  padding: 10px 100px;
  fill: #fff;
}
footer nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 10px;
  align-items: start;

}

footer nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

footer nav li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 10px;
  align-items: center;

}

footer nav a {
  color: #fff;
  text-decoration: none;
}

footer svg{
  margin-right: 10px;
  width: 20px;
  height: 20px;
  color: #fff;
  margin-bottom: 5px;
}

