<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/contact_form.css">
    <link rel="stylesheet" href="/style_header.css">
    <link rel="stylesheet" href="/style_footer.css">
    <title>Contact</title>
    <link rel="icon" href="loggo_tansparent.png">
</head>

<body>
    <%- include('header') %>

        <% if (messages.success) { %>
            <div class="alert alert-success">
                <%= messages.success %>
            </div>
            <% } %>

                <form action="/contact" method="post">
                    <label for="name">Name:</label><br>
                    <input type="text" id="name" name="name" required><br>

                    <label for="email">Email:</label><br>
                    <input type="email" id="email" name="email" required><br>

                    <label for="message">Message:</label><br>
                    <textarea id="message" name="message" required></textarea><br>

                    <input type="submit" value="Submit">
                </form>

                <%- include('footer') %>
</body>

</html>