<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_header.css">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="style_footer.css">
    <title>Fripman</title>
    <link rel="icon" href="loggo_tansparent.png">
</head>

<body>
    <% if (messages.error) { %>
        <div class="alert alert-danger">
          <%= messages.error %>
        </div>
      <% } %>
      <% if (messages.success) { %>
        <div class="alert alert-success">
          <%= messages.success %>
        </div>
      <% } %>
      
    <div class="login">
        <div class="login-box">
            <h2>Créer un compte</h2>
            <form action="/register" method="post">
                <div class="user-box">
                    <input type="text" name="surname" required>
                    <label>Prénom</label>
                </div>
                <div class="user-box">
                    <input type="text" name="name" required>
                    <label>Nom</label>
                </div>
                <div class="user-box">
                    <input type="text" name="username" required>
                    <label>Nom d'utilisateur</label>
                </div>
                <div class="user-box">
                    <input type="password" name="password" required>
                    <label>Mot de passe</label>
                </div>
                <div class="user-box">
                    <input type="password" name="confirmPassword" required>
                    <label>Confirmer mot de passe</label>
                </div>

                <button type="submit">
                    créer
                </button>
            </form>
        </div>
    </div>
</body>

</html>